@import "tailwindcss";

/* 全域樣式 */

/* 字體 */
.black-ops {
  font-family: "Black Ops One";
  font-weight: 400;
  font-style: normal;
}
.sour-gummy {
  font-family: "Sour Gummy";
  font-weight: 400;
  font-style: normal;
}


/* 色票 */
@theme {
  --color-olive-100: oklch(0.75 0.0653 117.77);
  --color-olive-200: oklch(0.65 0.0772 128.84);
  --color-olive-300: oklch(0.58 0.0957 112.61);
  --color-olive-400: oklch(0.46 0.0712 135.53);
  --color-olive-500: oklch(0.35 0.0755 120.79);
  --color-plum-100: oklch(0.38 0.083 333.19);
  --color-plum-200: oklch(0.39 0.0721 10.84);
  /* 背景色 */
  --color-bg-100: #ebe6db;
  --color-bg-200: #dbd5c9;
}

/* 陰影 */
@utility shadow-style-1 {
  box-shadow:
    0 0 80px rgba(0, 0, 0, 0.25),
    0 0 36px rgba(0, 0, 0, 0.2),
    0 0 48px rgba(0, 0, 0, 0.15);
}