/* 首頁標題打字動畫 */
@keyframes typewriter {
  0% {
    width: 0;
  }
  20% {
    width: 3em;
  }
  60% {
    width: 3em;
  }
  100% {
    width: 6.6em;
  }
}

/* 首頁標題打字游標 */
@keyframes blinkTextCursor {
  from {
    border-right-color: var(--color-olive-300);
  }
  to {
    border-right-color: transparent;
  }
}

/* 首頁標題class */
.title-typing {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--color-olive-300);
  animation:
    typewriter 1.5s steps(10) 1s 1 normal both,
    blinkTextCursor 0.8s steps(10) infinite normal;
}
